<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HOLE_FOODS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HOLE_FOODS.Properties.Settings>
            <setting name="csvFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ticketsPath" serializeAs="String">
                <value />
            </setting>
        </HOLE_FOODS.Properties.Settings>
    </userSettings>
</configuration>